<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Appeal Processing</title>
</head>
<body>
<h1>Appeal Processing Page</h1>
<div sec:authorize="hasRole('User')">
    <a href="/appeal-processing/add-appeal">
        <button>Add Appeal</button>
    </a>
</div>
<div sec:authorize="hasRole('Admin')">
    <a href="/appeal-processing/add-appeal">
        <button>Add Appeal</button>
    </a>
    <a href="/appeal-processing/verify-appeal">
        <button>Verify Appeal</button>
    </a>
</div>
</body>
</html>
